<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>


<body>
    <div th:fragment="footer">
        <footer class="footer">
            <div class="container">
                <p class="text-muted">
                    <div class="address">
                        <b>Казанский федеральный университет</b><b class="contacts">Телефон: (843) 233-71-09</b></br>
                        <p>420008, Казань, ул. Кремлёвская, 18</p><p class="contacts">public.mail@kpfu.ru</p>
                    </div>
                </p>
            </div>
        </footer>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    </div>
</body>
