<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<body class="text-center">
  <div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
          <a class="navbar-brand" href="/main">
            <img th:src="@{/images/cvetnone.png}" alt="logo" width="115"/>
          </a>

          <li class="nav-item">
            <a class="nav-link" href="/booking">Booking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/main">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/journal">Journal</a>
          </li>
        </ul>
      </div>
      <div class="mx-auto order-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">

            <a class="nav-link" href="/logout"><i class="fa fa-sign-out"></i> Log out</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
  </div>
</body>
</html>