.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}
        

.bg-dark {
    background-color: #000000!important;
}


.inf {
    position: relative;
    overflow: hidden;
    background: #2e5fa0;
    margin: 0 auto;

}
#rectangle {
    width: 70vw;
    height: 400px;
    background: #4da1f7;
    margin: 0 auto;
}



.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}

.input_number {
    width: 55px;
    border-radius: 4px;
}

.btn-primary{
background-color: #c40006;
border-color: #c40006;
background-image: none;
font-size: 1.2em;
}


.btn-primary:hover, .btn-primary:active, .btn-primary:visited  {
  background-color: #e31b17 !important;
  border-color: #e31b17 !important;
}

.wrapper {    
    margin-top: 80px;
    margin-bottom: 20px;
}

.form-signin {
  max-width: 520px;
  max-height: 430px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color:rgb(224,224,224, 0.91);
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #6c757d;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #6c757d, #6c757d 12.5%, #6c757d 12.5%, #6c757d 25%, #6c757d 25%, #6c757d 37.5%, #6c757d 37.5%, #6c757d 50%, #6c757d 50%, #6c757d 62.5%, #6c757d 62.5%, #6c757d 75%, #6c757d 75%, #6c757d 87.5%, #6c757d 87.5%, #6c757d);
  background-image: -moz-linear-gradient(left, #6c757d, #6c757d 12.5%, #6c757d 12.5%, #6c757d 25%, #6c757d 25%, #6c757d 37.5%, #6c757d 37.5%, #6c757d 50%, #6c757d 50%, #6c757d 62.5%, #6c757d 62.5%, #6c757d 75%, #6c757d 75%, #6c757d 87.5%, #6c757d 87.5%, #6c757d);
  background-image: -o-linear-gradient(left, #6c757d, #6c757d 12.5%, #6c757d 12.5%, #6c757d 25%, #6c757d 25%, #6c757d 37.5%, #6c757d 37.5%, #6c757d 50%, #6c757d 50%, #6c757d 62.5%, #6c757d 62.5%, #6c757d 75%, #6c757d 75%, #6c757d 87.5%, #6c757d 87.5%, #6c757d);
  background-image: linear-gradient(to right, #6c757d, #6c757d 12.5%, #6c757d 12.5%, #6c757d 25%, #6c757d 25%, #6c757d 37.5%, #6c757d 37.5%, #6c757d 50%, #6c757d 50%, #6c757d 62.5%, #6c757d 62.5%, #6c757d 75%, #6c757d 75%, #6c757d 87.5%, #6c757d 87.5%, #6c757d);
}

body {
    background-image: url(../images/3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}



.custom-select {
    font-size: 1.2em;
    height: calc(2.7rem + 2px)!important;
}