<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <div th:replace="head :: htmlhead"></div>
        <link rel="stylesheet" th:href="@{/css/booking.css}"/>
    </head>

    <body>
        <div th:replace="fragments/header :: header"></div></br>


        <div class="container">
            <div class="wrapper">
                <form th:action="@{/booking}" th:object="${record}" method="post" name="Login_Form" class="form-signin">
                    <h3 class="form-signin-heading" style="font-size: 2.5em">Booking </h3>
                    <hr class="colorgraph"><br>

                <div class="col-sm-12">
                    <div>
                        <select class="custom-select" name="lesson">
                            <option value="1">1st class (8:30-10:00)</option>
                            <option value="2">2nd class (10:10-11:40)</option>
                            <option value="3">3rd class (11:50-13:20)</option>
                            <option value="4">4th class (13:40-15:10)</option>
                            <option value="5">5th class (15:20-16:50)</option>
                            <option value="6">6th class (17:00-18:30)</option>
                            <option value="7">7th class (18:40-20:10)</option>
                        </select>
                    </div><br><br><br>


                    <label style="font-size: 1.2em">
                            Number of persons
                            <input class="input_number" type="number" min="1" size="10" name="numberOfPersons" value="5">
                    </label>


                </div><br><br>


                <div class="d-flex justify-content-center">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">
                    Book
                    </button>
                </div>
                </form>
            </div>


        </div>

    </body>
</html>