<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="head :: htmlhead"></div>
    <link rel="stylesheet" th:href="@{/css/booking_result.css}"/>

</head>
<body>
    <div th:replace="fragments/header :: header"></div></br>

    <div class="container">
        <div class="wrapper">
            <form action="" method="post" name="Login_Form" class="form-signin">
                <h3 class="form-signin-heading" style="font-size: 2.5em">Booking result</h3>
                <hr class="colorgraph"><br>
                <span th:text="${result}"> </span>
            </form>
        </div><br><br>
    </div>


</body>
</html>